*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: rgb(15, 238, 26);
}
#notesForm{
    padding: 5px;
}
.note{
    display: block;
    margin-top: 5px;
    padding: 5px;
}
#title{
    width: 25vw;
}
#details{
    width: 25vw;
}
.addNewNote{
    position: absolute;
    right: 10px;
    top: 10px;
    width: fit-content;
}
.addNewNote i{
    font-size: 10vh;
    color: skyblue;
}
.addNewNote i span{
    font-size: 5vh;
    position: relative;
    bottom: 10px;
    margin-left: 5px;
}
#submit{
    border-radius: 5px;
    background-color: skyblue;
    color: red;
    padding: 5px;
    font-size: 20px;
}
#form{
    display: none;
    position: absolute;
    right: 20vw;
}
.notesSection{
    display: grid;
    grid-template-columns: 27% 27% 27%;
    column-gap: 0.5rem;
    row-gap: 1rem;
}
.noteTitle{
    color: cyan;
    text-align: center;
    font-size: 25px;
}
.noteDetails{
    margin-top: 10px;
    font-size: 20px;
}
.oneNote{
    background-color: rgb(53, 49, 49);
    padding: 5px;
}
.dateTime{
    color: yellow;
    margin-top: 5px;
}
.btn{
    margin-top: 2rem;
    border-radius: 5px;
    background-color: cyan;
    color: blue;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    margin-left: 10px;
    
}
.editSave{
    display: none;
}