<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            font-size: 25px;
        }
        form{
            text-align: center;
            margin-top: 20px;
        }
        input{
            height: 30px;
            padding: 2px;
        }
    </style>
</head>

<body>
    <form action="emdee5.php" method="POST">
        <input type="text" placeholder="Enter something" name="userdata">
        <input type="submit" value="Submit">
    </form>  
<!--
        $flag="flag{fake_flag}";
        if(isset($_POST["userdata"])){
        $userdata = $_POST["userdata"];
        $var1 = md5("240610708");
        $var2 = md5($userdata);
        if($var1==$var2){
            echo $flag;
        }
        else{
            echo "Try harder";
        }
?> -->
</body>
</html>
  