<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More md5</title>
    <style>
        body{
            background-color: black;
            color: rgb(2, 236, 2);
            text-align: center;
        }
        form{
            margin-top: 10vh;
        }
        input{
            height: 40px;
            padding: 5px;
        }
    </style>
</head>

<body>
    <form action="more_emdee_five.php" method="get">
        <input type="text" name="data" placeholder="Enter something">
        <input type="submit" value="Submit">
    </form>

</body>
</html>