<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshell</title>
    <link rel="stylesheet" href="../static/css/webshell.css">
</head>

<body>
    <div class="main">
        <table>
            <tr class="root">
                <td class="user">
                <span>user</span><span>@pwnworld:~$</span>

                </td>
                <td>
                <div class="codeSection">
                <p contenteditable="true" class="inputCommand">
                <p class="commandResult"></p>
            </div>
        </td>
        </tr>


        </table>
    </div>
</body>
<script src="../static/js/webshell.js"></script>

</html>