.links{
    display: inline-block;
    padding: 1.5%;
    margin-left: 30%;
    font-family: 'Audiowide', cursive;

}
a{
    text-decoration: none;
    color:#E04359;
    padding: 10px;
    font-size: 1.2rem;
}
