<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges</title>
</head>
<body>
    <div class="container1">
    <!--This container for different categories of challenges  -->

        <!-- Note: All these buttons must be large in size and must look beautiful -->
        <div class="chalCategory"> <button>Web-Exploitation</button></div>
        <div class="chalCategory"> <button>Cryptography</button></div>
        <div class="chalCategory"> <button>Digital Forensics</button></div>
        <div class="chalCategory"> <button>pwn (Binary Exploitation)</button></div>
        <div class="chalCategory"> <button>Reverse Engineering</button></div>
        <div class="chalCategory"> <button>Internet of Things</button></div>
        <div class="chalCategory"> <button>Open Source Intelligence</button></div>
        <div class="chalCategory"> <button>Miscellaneous</button></div>
        <div class="chalCategory"> <button>Jailbreak</button></div>
        <div class="chalCategory"> <button>Hardware</button></div>

    </div></button>
</body>
</html>