<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    
    <form action="/report" method="post">
        <textarea name="bug" id="bug" cols="70" rows="20" placeholder="Enter details about the bug here"></textarea>
        <input type="submit" style="display: block;" value="Submit">
    </form>
</body>
</html>